@use "Styles/Variables";

.popover {
  --padding: 0.75em;
  --background-color: #fff;
  bottom: calc(100% + 0.5em);
  right: 0;
  opacity: 0;
  z-index: 300;
  max-width: 100%;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.3s, visibility 0s 0.3s;
  &>div {
    position: relative;
    &>div {
      width: auto;
      width: fit-content;
      position: relative;
      padding: var(--padding);
      background-color: var(--background-color);
      border-radius: 0.5em;
      box-shadow: 0em 0.2em 0.4em rgba(#000, 0.25);
    }
    &>.triangle-icon {
      width: 1em;
      height: 1em;
      top: calc(100% - 0.25em);
      left: 50%;
      translate: -50%;
      position: absolute;
      rotate: 180deg;
      filter: drop-shadow(0em -0.2em 0.1em rgba(#000, 0.15));
      & path {
        fill: var(--background-color);
      }
    }
  }
  &.right > div > .triangle-icon {
    left: auto;
    right: 0.55em;
  }
  &.left > div > .triangle-icon {
    left: 0.55em;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
  }
}