@use "Styles/Variables";

.user-avatar-with-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>div {
    display: flex;
    align-items: center;
    gap: 0.75em;
    pointer-events: none;
    font-weight: 500;
    color: Variables.$black-text-secondary;
    &>div {
      display: flex;
      gap: 0.1em;
      flex-direction: column;
      &>span {
        &:first-of-type {
          font-weight: 400;
          color: Variables.$black-text;
          font-size: 1.1em;
        }
        &:last-of-type {
          font-weight: 400;
          font-size: 0.9em;
          color: Variables.$gray-text-secondary;
        }
      }
    }
  }
}