@use "Styles/Variables";

.explore-result {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.75em;
  @include Variables.columnLayout;
  &>figure {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: inherit;
    overflow: hidden;
    &::after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, transparent, rgba(#000, 0.5));
    }
    &>figcaption {
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 2;
      color: #fff;
      position: absolute;
      padding: 0.5em 0.75em;
      @include Variables.columnLayout(0.15em);
      &>h3,
      &>span {
        text-shadow: 0em 0em 0.3em rgba(#000, 1), 0em 0em 0.3em rgba(#000, 1), 0em 0.05em 0.1em rgba(#000, 0.75);
      }
      &>h3 {
        margin: 0;
        font-weight: 500;
        font-size: 1.2em;
      }
      &>span {
        display: flex;
        align-items: center;
        gap: 0.15em;
        &> svg {
          width: 1.15em;
          height: 1.15em;
          fill: url(#themeGradient);
        }
        &>span {
          font-weight: 500;
          font-size: 0.8em;
          margin-top: 0.1em;
        }
      }
    }
  }
  &>.meta {
    @include Variables.columnLayout;
    &>.view-more {
      display: flex;
      padding-top: 0.5em;
      align-items: center;
      justify-content: space-between;
      border-top: 1.5px solid Variables.$lighter-gray;
      &>button {
        @include Variables.center;
        gap: 0.25em;
        font-size: 0.9em;
        font-weight: 500;
        transition: color 0.3s;
        color: Variables.$gray-text-secondary;
        &>svg {
          width: 1em;
          height: 1em;
          scale: 1.75;
          transition: all 0.3s;
          stroke: Variables.$gray-text-secondary;
        }
        &:hover {
          color: Variables.$gray-text;
          &>svg {
            rotate: 90deg;
            stroke: Variables.$gray-text;
          }
        }
      }
    }
  }
}