@use "Styles/Variables";

.comment {
  --level: 0;
  --font-size: 0.9em;
  --max-height: unset;
  padding: 0.75em;
  position: relative;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -1.5em;
  border-radius: 0.5em;
  margin-left: calc(1em * var(--level));
  width: calc(100% - (1em * var(--level)));
  transition: max-height 0.5s 0.15s, margin-bottom 0.5s 0.15s, opacity 0.35s, visibility 0s 0.5s, background-color 0.3s;
  &.visible {
    opacity: 1;
    visibility: visible;
    max-height: var(--max-height);
    margin-bottom: 0;
    transition: max-height 0.5s, margin-bottom 0.5s, opacity 0.35s 0.25s, visibility 0s, background-color 0.3s;
    &.active {
      background-color: rgba(Variables.$sky-blue, 0.35);
    }
  }
  &.expanded {
    &>article > .post-actions > .chevron-down {
      rotate: 180deg;
    }
  }
  &>article {
    width: 100%;
    display: flex;
    gap: 0.75em;
    font-size: var(--font-size);
    flex-direction: column;
    &>p {
      margin: 0;
      line-height: 1.5;
      color: Variables.$black-text-secondary;
    }
    &>.post-actions {
      position: relative;
      font-size: 1.05em;
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 0.75em);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: Variables.$light-gray;
      }
      & .reaction-button.reply-button {
        &:hover > div > svg:first-of-type {
          stroke: Variables.$gray-text;
        }
        &> div {
          width: 1.5em;
          height: 1.5em;
          margin-right: 0.15em;
          & svg {
            scale: 1.15;
            &:first-of-type {
              fill: none;
              stroke: Variables.$gray-text-secondary;
            }
            &:last-of-type {
              fill: none;
              stroke: url(#themeGradient);
            }
          }
        }
      }
      &>.chevron-down {
        width: 1.25em;
        height: 1.25em;
        margin-left: -1.25em;
        margin-top: 0.25em;
        transition: rotate 0.5s;
        stroke: Variables.$gray-text-secondary;
      }
    }
  }
}