@use "Styles/Variables";

.connected-user {
  padding: 0.65em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &>div {
    @include Variables.center;
    gap: 0.75em;
    & .avatar {
      --size: 2.5em;
    }
    & div {
      @include Variables.columnLayout(0.15em);
      &>span {
        &:first-of-type {
          font-size: 0.9em;
        }
        &:last-of-type {
          font-size: 0.8em;
          opacity: 0.85;
          @include Variables.themeGradient(to bottom right);
          @include Variables.clipText;
        }
      }
    }
  }
}