@use "Styles/Variables";

.uxverse-input.youtube-handle-input > .uxverse-input__icon > svg {
  &:first-of-type {
    stroke: unset;
    fill: Variables.$gray-text-secondary;
  }
  &:last-of-type {
    fill: #ea333d;
  }
}