@use "Styles/Variables";

.user-social-links-gray {
  display: flex;
  align-items: center;
  gap: 1em;
  &>a {
    &>svg {
      width: 1.35em;
      height: 1.35em;
      fill: Variables.$gray-text-secondary;
      &:not(.instagram-stroked) {
        scale: 1.15;
        &.tiktok-stroked {
          scale: 1.1;
        }
        &.youtube-icon {
          scale: 1.25;
          translate: 20% 0;
        }
      }
    }
  }
}