@use "Styles/Variables";

.notifications-stack {
  --gap: 1em;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 90;
  max-height: 100%;
  overflow-y: scroll;
  max-width: 450px;
  position: fixed;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-bottom: calc(Variables.$nav-height + 1em);
  &.empty {
    pointer-events: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}