.hidden-file-input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  &::-webkit-file-upload-button,
  &::file-selector-button {
    display: none;
  }
}