@use "Styles/Variables";

.combo-box-list {
  --background-color: #fff;
  --focus-background: #f8f8f8;
  --selected-background: #41b3ff2c;
  --padding: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  max-width: 300px;
  z-index: 2;
  border-radius: 0.5em;
  visibility: hidden;
  opacity: 0;
  translate: 0 -30px;
  transition: opacity 0.5s, translate 0.5s, visibility 0s 0.5s;
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    translate: 0 0;
    transition: opacity 0.5s, translate 0.5s, visibility 0s;
  }
  &>div > div {
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0em 0.1em 0.3em rgba(#000, 0.2);
  }
  & [role='listbox'] {
    list-style-type: none;
    & [role='option'] {
      border-bottom: 1px solid Variables.$light-gray;
      &:hover,
      &[data-focused='true'] {
        background-color: var(--focus-background);
      }
      &[aria-selected='true'] {
        background-color: var(--selected-background);
      }
    }
  }
}