@use "Styles/Variables";

.profile-page__user-info {
  width: 100%;
  @include Variables.columnLayout(1em);
  align-self: center;
  color: Variables.$black-text;
  @media (min-width: 900px) {
    max-width: 600px;
    padding-top: 0.75em;
  }
  @media (min-width: 1200px) {
    font-size: 1.1em;
  }
  & h1,
  & p {
    margin: 0;
    @include Variables.reducedLetterSpacing
  }
  &>.usernames {
    &>h1 {
      font-weight: 500;
      font-size: 1.5em;
    }
    &>span {
      font-size: 0.95em;
      color: Variables.$gray-text;
      @include Variables.themeGradient(to bottom right);
      @include Variables.clipText;
    }
  }
}