@use "Styles/Variables";

.profile-page__user-info {
  width: 100%;
  @include Variables.columnLayout(1em);
  color: Variables.$black-text;
  @media (min-width: 670px) {
    max-width: 600px;
  }
  @media (min-width: Variables.$profile-horizontal-layout) {
    align-self: center;
    max-width: 600px;
    padding-top: 0.75em;
  }
  @media (min-width: Variables.$max-content-width) {
    font-size: 1.1em;
  }
  & h1,
  & p {
    margin: 0;
    @include Variables.reducedLetterSpacing
  }
  &>.usernames {
    &>h1 {
      font-weight: 500;
      font-size: 1.5em;
    }
    &>span {
      font-size: 0.95em;
      color: Variables.$gray-text;
      @include Variables.themeGradient(to bottom right);
      @include Variables.clipText;
    }
  }
  &>.profile-actions {
    @media (min-width: Variables.$profile-horizontal-layout) {
      display: none;
    }
  }
}