.liquid-glass-button {
  border-radius: 4em;
  color: #fff;
  font-weight: 700;
  background-color: rgba(#c600bc, 0.75);
  padding: 0.65em 2em;
  transition: background-color 0.5s;
  outline-offset: 0.25em;
  text-decoration: none;
  &:not(.isSafari.isMobile) {
    backdrop-filter: blur(5px);
  }
  &:visited {
    color: #fff;
    text-decoration: none;
  }
}