@use "Styles/Variables";

.closer-button {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(2.5px);
  background-color: rgba(Variables.$light-gray, 0.85);
  @include Variables.center;
  &>svg {
    width: 70%;
    height: 70%;
    stroke: Variables.$black-text;
  }
}