.active-people {
  display: flex;
  gap: 0.5em;
  list-style-type: none;
  align-items: center;
  white-space: nowrap;
  padding-left: 0.75em;
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
  @media (min-width: 1400px) {
    padding-left: 0.75em;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &>li {
    flex-shrink: 0;
    scroll-snap-align: center;
    display: inline-block;
  }
}