@use "Styles/Variables";

.edit-profile-form {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  & fieldset {
    display: flex;
    gap: 1em;
    flex-direction: column;
    border: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    & legend {
      margin: 0;
      display: block;
      font-weight: 400;
      font-size: 1.25em;
      margin: 1em 0;
      @include Variables.themeGradient(to bottom right);
      @include Variables.clipText;
    }
  }
  &>.form-actions {
    bottom: 0;
    left: 0;
    position: sticky;
    flex: 0 0 100%;
    margin-top: 1em;
    background-color: rgba(#fff, 0.25);
    backdrop-filter: blur(5px);
    padding: 1em;
    min-width: calc(100% + 2em);
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    box-shadow: 0em -0.1em 0.5em rgba(#000, 0.2);
    @media (min-width: 670px) {
      padding: 1em 1.5em;
      min-width: calc(100% + 3em);
    }
    &>div {
      width: 100%;
      max-width: 1040px;
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      &>button {
        display: flex;
        justify-content: flex-end;
        &.cancel-profile-update {
          padding: 0.5em 1em;
          border-radius: 0.5em;
          text-transform: uppercase;
          font-size: 0.9em;
          font-weight: 500;
          border: 2px solid Variables.$gray-text-secondary;
          color: Variables.$gray-text;
        }
      }
    }
  }
}