@use "Styles/Variables";

.inset-fullscreen-container.home-banner {
  &>div {
    @media (prefers-reduced-motion: no-preference) {
      translate: 100% 0%;
      clip-path: inset(40% 40% round 1em);
      animation: rectangular-scale 1.75s forwards;
      @media (min-width: 957px) {
        translate: 0% 100%;
      }
    }
    &>.image-rotator {
      @media (prefers-reduced-motion: no-preference) {
        scale: 1.25;
        animation: scale-down 1s 0.8s forwards ease-out;
      }
    }
  }
  & h1,
  & p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  & .liquid-glass-button {
    font-size: clamp(1.15em, 2.5vw, 1.65em);
    margin-top: 0.5em;
    box-shadow: 0em 0.05em 0.2em rgba(#000, 0.5), 0em 0em 0.05em rgba(#000, 0.85);
    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      scale: 0.5;
      animation: scale 0.75s 2s forwards ease-out;
    }
  }
  & p {
    bottom: 0;
    position: absolute;
    font-weight: 400;
    font-size: clamp(1em, 4vw, 1.2em);
    text-shadow: 0em 0em 0.025em rgba(#000, 1), 0em 0em 0.05em rgba(#000, 1), 0em 0.025em 0.1em rgba(#000, 0.85);
    &.isSafari {
      font-weight: 600;
    }
  }
}

@keyframes rectangular-scale {
  0% {
    translate: 100% 0%;
    clip-path: inset(40% 40% round 1em);
    @media (min-width: 957px) {
      translate: 0% 100%;
    }
  }
  40% {
    translate: 0% 0%;
    clip-path: inset(40% 40% round 1em);
  }
  100% {
    translate: 0% 0%;
    clip-path: inset(0% 0% round 1em);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  75% {
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scale-up {
  0% {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

@keyframes scale-down {
  0% {
    scale: 1.25;
  }
  to {
    scale: 1;
  }
}