@use "Styles/Variables";

.inset-fullscreen-container.home-banner {
  &>div {
    @media (prefers-reduced-motion: no-preference) {
      translate: 100% 0%;
      clip-path: inset(40% 40% round 1em);
      animation: rectangular-scale 1.75s forwards;
      @media (min-width: 957px) {
        translate: 0% 100%;
      }
    }
    &>.image-rotator {
      @media (prefers-reduced-motion: no-preference) {
        scale: 1.25;
        animation: scale-down 1s 0.8s forwards ease-out;
      }
    }
  }
  & h1,
  & p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  & h1 {
    @include Variables.center;
    flex-direction: column;
    gap: 0.1em;
    overflow: hidden;
    white-space: nowrap;
    backdrop-filter: none;
    font-size: clamp(2.75em, 11vw, 6em);
    text-shadow: 0em 0em 0.025em rgba(#000, 1), 0em 0em 0.05em rgba(#000, 1), 0em 0.025em 0.1em rgba(#000, 0.85), 0em 0.015em 0.2em rgba(#000, 0.85);
    &.isSafari.isMobile {
      text-shadow: 0em 0em 0.025em rgba(#000, 1), 0em 0em 0.05em rgba(#000, 1), 0em 0.025em 0.1em rgba(#000, 0.85), 0em 0.015em 0.2em rgba(#000, 0.85), 0em 0em 0.125em rgba(#000, 1);
    }
    &>.split-text {
      padding: 0.4em;
      margin: -0.45em;
      overflow: hidden;
      &>span {
        @media (prefers-reduced-motion: no-preference) {
          display: block;
          opacity: 0;
          translate: 0% 50%;
          animation: slide-up calc(500ms + ((var(--length) - var(--index)) * 20ms)) calc(1.5s + ((var(--length) - var(--index)) * 30ms)) forwards ease-out;
        }
      }
    }
  }
  & .liquid-glass-button {
    font-size: clamp(1.25em, 3vw, 1.65em);
    margin-top: 0.5em;
    box-shadow: 0em 0.05em 0.2em rgba(#000, 0.5), 0em 0em 0.05em rgba(#000, 0.85);
    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      scale: 0.5;
      animation: scale 0.5s 2s forwards ease-out;
    }
  }
  & p {
    bottom: 0;
    position: absolute;
    font-weight: 400;
    font-size: clamp(1em, 6vw, 1.15em);
    text-shadow: 0em 0em 0.025em rgba(#000, 1), 0em 0em 0.05em rgba(#000, 1), 0em 0.025em 0.1em rgba(#000, 0.85);
    &.isSafari {
      font-weight: 600;
    }
  }
}

@keyframes rectangular-scale {
  0% {
    translate: 100% 0%;
    clip-path: inset(40% 40% round 1em);
    @media (min-width: 957px) {
      translate: 0% 100%;
    }
  }
  40% {
    translate: 0% 0%;
    clip-path: inset(40% 40% round 1em);
  }
  100% {
    translate: 0% 0%;
    clip-path: inset(0% 0% round 1em);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    translate: 0% 50%;
  }
  75% {
    translate: 0% 0%;
  }
  to {
    opacity: 1;
    translate: 0% 0%;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  75% {
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scale-up {
  0% {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

@keyframes scale-down {
  0% {
    scale: 1.25;
  }
  to {
    scale: 1;
  }
}