@use "Styles/Variables";

.post-actions {
  display: flex;
  gap: 1.5em;
  color: Variables.$gray-text;
  &>.reaction-button {
    color: Variables.$gray-text;
    @include Variables.center;
    gap: 0.35em;
    &:hover {
      &> div {
        &[class$='likes'] > svg:first-of-type {
          fill: Variables.$gray-text;
        }
        &[class$='comments'] > svg:first-of-type {
          stroke: Variables.$gray-text;
        }
      }
      &>span {
        color: Variables.$black-text-secondary;
      }
    }
    &>div {
      position: relative;
      &[class$='likes'] {
        width: 1.35em;
        height: 1.35em;
        translate: 0 -0.1em;
        &>svg {
          fill: Variables.$gray-text-secondary;
          &:last-of-type {
            fill: url(#themeGradient);
          }
        }
      }
      &[class$='comments'] {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.15em;
        &>svg {
          stroke: Variables.$gray-text-secondary;
          &:last-of-type {
            stroke: transparent;
            fill: url(#themeGradient);
          }
        }
      }
      &>svg {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        &:first-of-type {
          transition: opacity 0.5s, stroke 0.5s, fill 0.5s;
        }
        &:last-of-type {
          top: 0;
          left: 0;
          z-index: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
    &>span {
      font-size: 0.85em;
      font-weight: 300;
      transition: color 0.5s;
      color: Variables.$gray-text;
      &>strong {
        font-weight: 700;
        color: Variables.$black-text-secondary;
      }
    }
  }
  &>.share-button {
    margin-left: auto;
  }
  &.liked > button > div[class$='likes'] > svg {
    transition: opacity 0.5s, stroke 0.5s, fill 0.5s;
    &:first-of-type {
      opacity: 0;
    }
    &:last-of-type {
      opacity: 1;
    }
  }
  &.commented > button > div[class$='comments'] > svg {
    transition: opacity 0.5s, stroke 0.5s, fill 0.5s;
    &:first-of-type {
      opacity: 0;
    }
    &:last-of-type {
      opacity: 1;
    }
  }
}