@use "Styles/Variables";

.bottom-sheet.reaction-list {
  --notch-color: #fff;
  color: Variables.$black-text;
  & > .sheet {
    max-width: 600px;
    @media (min-width: 670px) {
      margin-top: calc(Variables.$nav-height / -1);
    }
  }
  & .sheet-scroll-view {
    padding-top: 0;
    background: linear-gradient(to bottom, rgba(#fff, 0.75), rgba(#fff, 0.95), #fff, #fff), url('/emoji.avif') no-repeat center;
    background-size: cover;
    padding-bottom: calc(Variables.$nav-height + 1em);
    @media (min-width: 670px) {
      padding-bottom: 1.5em;
      max-height: min(70svh, 70vh, 500px);
    }
  }
  & .closer-button {
    top: 1em;
    right: 1em;
    z-index: 2;
    position: fixed;
    background-color: rgba(#fff, 0.85);
    @media (min-width: 670px) {
      top: 1.5em;
      right: 1.5em;
    }
  }
  & h2 {
    margin: 0;
    padding: 1.5em 0 1em;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    @media (min-width: 670px) {
      padding: 1.5em 0 1em;
      font-size: 1.4em;
    }
  }
  & ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid Variables.$light-gray;
    &>li {
      width: 100%;
      &>a {
        padding: 0.5em 1em;
        width: 100%;
        display: flex;
        border-radius: 0.5em;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: Variables.$black-text;
        transition: all 0.3s;
        border-bottom: 1px solid Variables.$light-gray;
        &:visited {
          text-decoration: none;
          color: Variables.$black-text;
        }
        &:hover {
          background-color: rgba(#fff, 0.5);
          backdrop-filter: blur(2.5px);
          &> span:first-of-type {
            @include Variables.themeGradient(to right);
            @include Variables.clipText;
          }
        }
        &>span {
          &:first-of-type {
            font-size: 0.9em;
            transition: color 0.3s;
          }
          &:last-of-type {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}