@use "Styles/Variables";

.bottom-sheet.create-post {
  z-index: 200;
  @media (min-width: 670px) {
    z-index: 99;
  }
  & .sheet-scroll-view {
    padding: 0;
    padding-bottom: 1em;
    @media (min-width: 670px) {
      padding-bottom: 1.5em;
      max-height: min(80svh, 80vh);
    }
    & .pull-down {
      z-index: 3;
    }
  }
  & .sheet-content {
    padding-bottom: 1em;
    @media (min-width: 670px) {
      padding-bottom: 0;
    }
  }
  & .user-avatar-with-info {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#fff, 0.85);
    backdrop-filter: blur(5px);
    padding: 2em 1em 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    @media (min-width: 670px) {
      padding: 1.5em;
    }
  }
  & .create-post__form {
    padding: 0 1em;
    @media (min-width: 670px) {
      padding: 0 1.5em;
    }
    & form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      & .capture-the-moment {
        margin: 1.5em 0 0;
        width: 100%;
        max-width: 500px;
      }
      & .story {
        margin-top: 8px;
        @media (min-width: 670px) {
          margin-top: 0;
        }
      }
    }
  }
}