@use "Styles/Variables";

:export {
  blackText: Variables.$black-text;
  grayText: Variables.$gray-text;
  red: Variables.$red;
  orange: Variables.$orange;
  fucia: Variables.$fucia;
  skyBlue: Variables.$sky-blue;
  green: Variables.$green;
  yellow: Variables.$yellow;
  cyan: Variables.$cyan;
}