@use "Styles/Variables";

:export {
  blackText: Variables.$black-text;
  grayText: Variables.$gray-text;
  red: Variables.$red;
  orange: Variables.$orange;
  fucia: Variables.$fucia;
  skyBlue: Variables.$sky-blue;
  green: Variables.$green;
  yellow: Variables.$yellow;
  cyan: Variables.$cyan;
  errorPink: Variables.$error-pink;
  errorRed: Variables.$error-red;
  warningYellow: Variables.$warning-yellow;
  warningOrange: Variables.$warning-orange;
  successGreen: Variables.$success-green;
  successCyan: Variables.$success-cyan;
}