/* THEME */
$black-text: #1f1f1f;
$black-text-secondary: #363434;
$gray-text: #727272;
$gray-text-secondary: #afafaf;
$gray: #e3e3e5;
$red: #fd1887;
$orange: #fd7f18;
$fucia: #fb43ef;
$sky-blue: #41b3ff;
$yellow: #f3fb02;
$light-gray: #f3f1f1;
$lighter-gray: #f8f8f8;

$warning-yellow: #ffcd2a;
$warning-orange: #ff8d2a;
$error-pink: #ff2aad;
$error-red: #ff2a66;
$success-green: #34f377;
$success-cyan: #13ca8a;

/* DIMENSIONS */
$nav-height: 60px;
$max-content-width: 1200px;
$profile-horizontal-layout: 900px;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin clipText {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin reducedLetterSpacing {
  letter-spacing: -0.035em;
}

@mixin themeGradient($direction: to bottom) {
  background-image: linear-gradient($direction, $orange, $red);
}

@mixin warningGradient($direction: to bottom) {
  background-image: linear-gradient($direction, $warning-yellow, $warning-orange);
}

@mixin errorGradient($direction: to bottom) {
  background-image: linear-gradient($direction, $error-pink, $error-red);
}

@mixin systemFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin themeGlow($radius: 0.4em, $opacity: 0.25) {
  $offset: calc(0.4em * 0.375);
  $negativeOffset: calc($offset * -1);
  box-shadow: 
    $negativeOffset $negativeOffset $radius rgba($orange, $opacity), 
    $offset $negativeOffset $radius rgba($orange, $opacity), 
    $offset $offset $radius rgba($red, $opacity),
    $negativeOffset $offset $radius rgba($red, $opacity);
}

@mixin gradientUnderline($opacity: 0.6) {
  &::after {
    content: "";
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    scale: 0 1;
    opacity: $opacity;
    @include themeGradient(to right);
    transition: scale 0.5s;
  }
}

@mixin pastelRainbow($offset: 45%, $opaqueness: 1) {
  background: radial-gradient(circle at calc(100% + $offset) 100%, rgba(#f518e6, calc($opaqueness * 66%)),  transparent, transparent),
              radial-gradient(circle at calc(0% - $offset) 0%, rgba(#12f016, calc($opaqueness * 40%)), transparent, transparent),
              radial-gradient(circle at calc(100% + $offset) 0%, rgba(#f3fb02, calc($opaqueness * 85%)), transparent, transparent),
              radial-gradient(circle at calc(0% - $offset) 100%, rgba(#14c0f0, calc($opaqueness * 85%)), transparent, transparent),
}

@mixin columnLayout($gap: 0.75em) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin comboBoxOutline($value) {
  &:has(ol[role='listbox'][data-focused='true']) > div > div {
    outline: $value;
  }
}

@mixin rainbowGradient {
    background-image: linear-gradient(to left, 
    #ff5cf4,
    #68c3ff, 
    #49ff4c,
    #fdf751,
    rgba($orange, 0.75),
    rgba($red, 0.75)
  );
}