@use "Styles/Variables";

.explore-results__alert {
  --max-height: 1000px;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  transition: opacity 0.5s 0.5s, max-height 0.5s, visibility 0s;
  max-height: var(--max-height);
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s 0.5s, max-height 0.5s, visibility 0s 1s;
  }
  &>div {
    align-items: center;
    @include Variables.columnLayout(2em);
    & p {
      margin: 0;
      color: Variables.$gray-text;
    }
    & button {
      padding: 0.25em;
      border-radius: 50%;
      width: 5.5em;
      height: 5.5em;
      @include Variables.themeGlow;
      @include Variables.themeGradient;
      &:hover {
        & svg {
          translate: 0 -10%;
        }
      }
      &>div {
        width: 100%;
        height: 100%;
        background-color: Variables.$lighter-gray;
        border-radius: inherit;
        @include Variables.center;
        & svg {
          width: 60%;
          height: 60%;
          fill: url(#themeGradient);
          transition: translate 0.5s;
        }
      }
    }
  }
}