@use "Styles/Variables";

.user-profile-info {
  display: flex;
  gap: 0.15em;
  flex-direction: column;
  &>h1 {
    font-size: 1.5em;
    font-weight: 500;
  }
  &>span {
    color: Variables.$gray-text;
  }
  &>.profile-actions {
    max-width: 500px;
    margin: 0.75em auto 0.25em;
  }
}