@use "Styles/Variables";

.rich-text-editor {
  --min-height: 150px;
  border-radius: 0.5em;
  min-height: var(--min-height);
  position: relative;
  background-color: Variables.$lighter-gray;
  &>div {
    padding: 0.75em;
    border-radius: inherit;
    min-height: var(--min-height);
    outline: none;
    & p {
      margin: 0;
    }
  }
  &>span.input-placeholder {
    top: 0.75em;
    left: 0.75em;
    position: absolute;
    color: Variables.$gray-text-secondary;
  }
}