@use "Styles/Variables";

.user-social-links-colored {
  display: flex;
  align-items: center;
  gap: 1em;
  &>a {
    &>svg {
      width: 1.5em;
      height: 1.5em;
      &.youtube-icon {
        fill: #ea333d;
      }
      &:not(.instagram-colored) {
        scale: 1.15;
        &.tiktok-colored {
          scale: 1.1;
        }
        &.youtube-icon {
          scale: 1.25;
          translate: 20% 0;
        }
      }
    }
  }
}