@use "Styles/Variables";

.profile-settings-button {
  width: 1.75em;
  height: 1.75em;
  position: relative;
  @include Variables.center;
  position: absolute;
  top: 0;
  right: 0;
  &:hover > svg {
    &:first-of-type {
      opacity: 0;
    }
    &:last-of-type {
      opacity: 1;
    }
  }
  &>svg {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    &:first-of-type {
      stroke: Variables.$black-text-secondary;
    }
    &:last-of-type {
      top: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      stroke: url(#themeGradient);
    }
  }
}