@use "Styles/Variables";

.map-layout {
  width: 100%;
  height: 50vh;
  position: relative;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  overflow: hidden;
  &::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    @include Variables.pastelRainbow;
    @media (min-width: 957px) {
      @include Variables.pastelRainbow(25%, 0.65);
    }
  }
  &>.google-map {
    transition: opacity 0.5s;
  }
  &.hidden {
    &>.google-map {
      opacity: 0;
    }
  }
  &.displayNone {
    display: none;
  }
}