.map-layout {
  width: 100%;
  height: 50vh;
  position: relative;
  &::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(circle at 145% 100%,#f518e698,  transparent, transparent),
                radial-gradient(circle at -45% 0%, #12f01688, transparent, transparent),
                radial-gradient(circle at 145% 0%, #f3fb02c7, transparent, transparent),
                radial-gradient(circle at -45% 100%, #14c0f0d1, transparent, transparent);
    @media (min-width: 957px) {
      background: radial-gradient(circle at 125% 100%,#f518e66f,  transparent, transparent),
                radial-gradient(circle at -25% 0%, #12f0163a, transparent, transparent),
                radial-gradient(circle at 125% 0%, #f3fb02a2, transparent, transparent),
                radial-gradient(circle at -25% 100%, #14c0f07b, transparent, transparent);
    }
  }
  &>.google-map {
    transition: opacity 0.5s;
  }
  &.hidden {
    &>.google-map {
      opacity: 0;
    }
  }
}