@use "Styles/Variables";

.bottom-sheet.edit-profile.in-app-bottom-sheet.above-navigation-bottom-sheet {
  & .sheet {
    --layout-padding: 1em;
    @media (min-width: 670px) {
      --layout-padding: 1.5em;
      max-width: 600px;
    }
    @media (min-width: 1400px) {
      max-width: 1100px;
    }
    & .sheet-scroll-view {
      padding: 0;
      padding-bottom: 0;
      @media(min-width: 670px) {
        padding: 0;
      }
    }
  }
  & .closer-button {
    top: 1.75em;
    right: var(--layout-padding);
    position: fixed;
    z-index: 2;
  }
  & .user-avatar-with-info {
    padding: 2em var(--layout-padding) 0.5em;
  }
}