@use "Styles/Variables";

.bounded-content.post-page {
  --max-height: 0px;
  padding-top: 1em;
  min-height: 100svh;
  @media(min-width: 670px) {
    padding-top: 1.5em;
  }
  &.commenting > div {
    transition: padding-bottom 0s;
    padding-bottom: var(--max-height);
  }
  &>div {
    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 0.75em 0.75em 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.5em;
    flex-direction: column;
    transition: padding-bottom 0.5s;
  }
  & .post {
    border-radius: 0;
    padding: 0.75em 0.75em 0.5em;
    @media(min-width: 670px) {
      padding: 1.25em 1.5em 0.5em;
    } 
    &>figure {
      width: 100%;
      height: auto;
      aspect-ratio: 1.5 / 1;
      max-height: 350px;
    }
  }
  & h4 {
    font-weight: 400;
    padding: 0 0.75em;
    margin: 0.75em 0;
    font-size: 1em;
    color: Variables.$gray-text-secondary;
    @media(min-width: 670px) {
      padding: 0 1.5em;
    } 
  }
  & .comments-tree {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 1.5em;
    background-color: #fff;
    @media(min-width: 670px) {
      padding: 0 0.75em 1.5em;
    } 
  }
  & .comment-editor {
    left: 50%;
    z-index: 400;
    max-width: 700px;
    translate: -50% 50%;
    &.visible {
      translate: -50% 0;
    }
  }
}