@use "Styles/Variables";

.profile-bio {
  width: 100%;
  @include Variables.columnLayout(1em);
  position: relative;
  &__user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &>div {
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      @include Variables.columnLayout(0.25em);
      &>h1 {
        font-size: 1.5em;
        font-weight: 500;
        margin: 0;
      }
      &>span {
        color: Variables.$gray-text;
      }
      &>.user-social-links {
        margin-top: 0.35em;
      }
    }
  }
  &>p {
    margin-top: 1em;
    font-size: 0.95em;
    color: Variables.$black-text-secondary;
  }
}