@use "Styles/Variables";

.feed-content {
  &>div {
    padding-top: calc(1em + 120px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
    @media (min-width: 670px) {
      padding-top: calc(1.5em + 120px);
    }
    &>.post {
      width: 100%;
      @media (min-width: 670px) {
        width: calc(50% - 0.5em);
      }
      @media (min-width: 1300px) {
        width: calc(33.3333% - 0.66666em);
      }
    }
  }
}

