@use "Styles/Variables";

.feed-tabs {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  &>button {
    &>span {
      background-image: linear-gradient(to right, Variables.$black-text-secondary, Variables.$black-text-secondary);
      @include Variables.clipText;
    }
    &[aria-selected='true'] > span {
      @include Variables.themeGradient(to bottom);
    }
  }
}