@use "Styles/Variables";

.profile-page {
  --avatar-size: 7.5em;
  --offset: calc(var(--avatar-size) / 2);
  width: 100%;
  max-width: Variables.$max-content-width;
  margin: 0 auto;
  color: Variables.$black-text;
  @media (min-width: 670px) {
    --avatar-size: 12em;
  }
  @media (min-width: 1200px) {
    --avatar-size: 15em;
  }
  &__header {
    width: 100%;
    padding: 0 5%;
    background-color: rgba(#fff, 0.85);
    backdrop-filter: blur(5px);
    @include Variables.columnLayout;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  &__content {
    @include Variables.columnLayout(0.75em);
    align-items: flex-start;
    @media (min-width: 670px) {
      gap: 1.5em;
    }
    @media (min-width: 900px) {
      flex-direction: row;
      gap: 10%;
    }
  }
  & .tabs.profile-tabs {
    font-size: 0.9em;
  }
}