@use "Styles/Variables";

.uxverse-input__feedback {
  pointer-events: none;
  border-radius: 50%;
  outline-offset: -2px;
  &:focus-visible {
    outline: 1.5px solid Variables.$red;
  }
  &>svg {
    scale: 0.6;
    opacity: 0;
    &:first-of-type {
      stroke: url(#success);
    }
      &:last-of-type {
      stroke: url(#error);
      & path:first-of-type,
      & path:last-of-type {
        stroke: Variables.$red;
      }
    }
  }
}

.uxverse-input__popover {
  font-size: 0.9em;
}