@use "Styles/Variables";

.uxverse-input.facebook-profile-input > .uxverse-input__icon > svg {
  scale: 0.7;
  &:first-of-type {
    stroke: unset;
    fill: Variables.$gray-text-secondary;
  }
  &:last-of-type {
    fill: unset;
  }
}