@use "Styles/Variables";

.post-input.place-input {
  border-top: 1px solid Variables.$gray;
  &.on-mobile {
    & .combo-box-list {
      @include Variables.comboBoxOutline(none);
    }
  }
  & [role='status'] {
    top: 0;
    right: 0;
    position: absolute;
  }
  & .combo-box-list {
    bottom: calc(100% + 0.5em);
    font-size: 1.05em;
    @include Variables.comboBoxOutline(1.5px solid #29a9ff3f);
    & button {
      width: 100%;
      text-align: left;
      padding: 0.5em 1em;
      @include Variables.columnLayout(0.25em);
      &>.option-title {
        display: flex;
        gap: 0.5em;
        width: 100%;
        &>span {
          display: flex;
          gap: 0.5em;
          align-items: flex-start;
          font-size: 0.9em;
          & .result-rating {
            &>svg {
              filter: none;
              font-size: 0.9em;
            }
            &>span {
              font-size: 1em;
            }
          }
        }
      }
      &>address {
        font-size: 0.8em;
        font-style: normal;
        color: Variables.$gray-text-secondary;
      }
    }
  }
}
